# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# This workflow will fetch the updated PR lines, compute the Size Label
# and Arch Labels, then save the PR Labels into a PR Artifact. The
# PR Labels will be written to the PR in the "workflow_run" trigger
# (pr_labeler.yml), because this "pull_request" trigger has read-only
# permission. Don't use "pull_request_target", it's unsafe.
name: "Pull Request Labeler"
on:
  - pull_request

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: read
      issues: read
    runs-on: ubuntu-latest
    steps:
      # Fetch the updated PR files. Compute the Size Label and Arch Labels.
      - name: Compute PR labels
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const owner = context.repo.owner;
            const repo = context.repo.repo;
            const pull_number = context.issue.number;

            // Fetch the array of updated PR files:
            // { filename: 'arch/sparc/test.txt', status: 'added', additions: 1, deletions: 0, changes: 1 }
            const listFilesOptions = github.rest.pulls.listFiles.endpoint.merge({
              owner,
              repo,
              pull_number
            });
            const listFilesResponse = await github.paginate(listFilesOptions);

            // TODO: Compute the Size Label
            // ignore_file_deletions: true
            // <=10 Lines Modified: 'Size: XS'
            // <=100 Lines Modified: 'Size: S'
            // <=500 Lines Modified: 'Size: M'
            // <=1000 Lines Modified: 'Size: L'
            // >1000 Lines Modified: 'Size: XL'

            // TODO: Parse the Arch Label Patterns in .github/labeler.yml
            const archLabels = [
              { label: "Arch: arm", pattern: "arch/arm/.*" },
              { label: "Arch: arm64", pattern: "arch/arm64/.*" },
              { label: "Arch: avr", pattern: "arch/avr/.*" }
            ];

            // Search the filenames for matching Arch Labels
            var prLabels = [];
            for (const archLabel of archLabels) {
              if (prLabels.includes(archLabel.label)) {
                break;
              }

              console.log({ archLabel });
              for (const file of listFilesResponse) {
                console.log({ file });
                const re = new RegExp(archLabel.pattern);
                const match = re.test(file.filename);
                console.log({ match });
                if (match && !prLabels.includes(archLabel.label)) {
                  prLabels.push(archLabel.label);
                  break;
                }
              }
            }
            console.log({ prLabels });

      # TODO: Save the PR Number and PR Labels into a PR Artifact
      - name: Save PR number and labels
        run: |
          mkdir -p ./pr
          echo ${{ github.event.number }} > ./pr/pr-id.txt

      # Upload the PR Artifact as pr.zip
      - name: Upload PR artifact
        uses: actions/upload-artifact@v6
        with:
          name: pr
          path: pr/
